<!DOCTYPE html>
<html lang = "en-us">
    <head>
        <meta charset ="UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content = "ie = edge">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div class = "container">
            <div class = "jumbotron text-center">
                <h1>Mission to Mars</h1>
                <p>
                    <a class = "btn btn-primary btn-lg" href = "/scrape" role = "button">Scrape Web Data</a>
                </p>
            </div>
        </div>


        <!-- Mars News Section -->
        <div class = "row">
            <div class = "col-md-12">
                <h2>Latest Mars News</h2>
                <h4>
                    {{mars.article_title}}
                </h4>
                <p>{{mars.paragraph_text}}</p>
            </div>
        </div>


        <div class ="row">
            <div class = "col-md-6">
                <h2>Featured Mars Image</h2>
                <!-- Figure out image placement here -->
                <img {{featured_image}}>
            </div>
            <div class = "col-md-6">
                <h2>Mars Facts</h2>

            </div>
        </div>
    </body>
</html>