<!DOCTYPE html>
<html lang = "en-us">
    <head>
        <meta charset ="UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content = "ie = edge">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div class = "container">
            <div class = "jumbotron text-center">
                <h1>Mission to Mars</h1>
                <p>
                    <a class = "btn btn-primary btn-lg" href = "/scrape" role = "button">Scrape Web Data</a>
                </p>
            </div>
        </div>


        <!-- Mars News Section -->
        <div class = "row">
            <div class = "col-md-12">
                <h2>Latest Mars News</h2>
                <h4>
                    {{mars.article_title}}
                </h4>
                <p>{{mars.paragraph_text}}</p>
            </div>
        </div>

        <!-- Mars Featured Image Section & Mars Facts Table-->
        <div class ="row">
            <div class = "col-md-6">
                <h2>Featured Mars Image</h2>
                <!-- Figure out image placement here -->
                <img src = "{{mars.featured_image}}" alt = "Mars Featured Image">
            </div>
            <div class = "col-md-6">
                <h3>Mars Facts</h2>
                <!-- Input table here -->
                <table>{{mars.mars_facts | safe}}</table>
            </div>
        </div>

        <!-- Mars Hemispheres Section -->
        <div class = "row">
            <div class = "col-md-12 text-center">
                <h2>Mars Hemispheres</h4>
                <hr>
                <br>
            </div>
        </div>

      
        <div class = "row">
            <div class = "col-md-3">
                <img class = "img-fluid" src = "{{mars.hemisphere_links[0].img_url}}" alt = "Hemisphere 1">
                <h4>{{mars.hemisphere_links[0].title}}</h4>>
            </div>

            <div class = "col-md-3">
                <img class = "img-fluid" src = "{{mars.hemisphere_links[1].img_url}}" alt = "Hemisphere 2">
            </div>

            <div class = "col-md-3">
                <img class = "img-fluid" src = "{{mars.hemisphere_links[2].img_url}}" alt = "Hemisphere 3">
            </div>

            <div class = "col-md-3">
                <img class = "img-fluid" src = "{{mars.hemisphere_links[3].img_url}}" alt = "Hemisphere 4">
            </div>
        </div>

    </body>
</html>